:root {
  --color-primary-dark: #202020;
  --color-primary-text: #ffffff;
  --color-text-dark: #333333;
  --color-text-light: #6c757d;
  --color-button-primary: #000000;
  --color-border: #dee2e6;

  --border-radius-main: 8px;
  --padding-main: 15px 20px;
  --padding-item: 10px 15px;
}

body {
  margin: 0;
  font-family: "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: #333;
}

* {
  box-sizing: border-box;
}

nav {
  padding: 1rem 2rem;
  text-align: left;
}

nav a {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--color-text-dark);
  text-decoration: none;
}
