.subject-item {
  background-color: var(--color-primary-dark);
  color: var(--color-primary-text);
  border-radius: var(--border-radius-main);
  margin-bottom: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.subject-item-header {
  padding: var(--padding-main);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.subject-item-name {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 500;
}

.subject-item-add-task-btn {
  background-color: transparent;
  border: none;
  color: var(--color-primary-text);
  font-size: 1.6rem;
  font-weight: bold;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  line-height: 1;
  transition: background-color 0.2s ease, transform 0.2s ease;
}

.subject-item-add-task-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
  transform: scale(1.1);
}

.subject-item-tasks {
  padding: var(--padding-item);
  border-bottom-left-radius: var(--border-radius-main);
  border-bottom-right-radius: var(--border-radius-main);
  margin-top: -1px;
  border-top: 1px solid var(--color-border);
}

.no-tasks-message {
  font-style: italic;
  color: var(--color-text-light);
  padding: 10px 0;
  text-align: center;
}
